* {
    margin: 0;
    margin-top: 5px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: black;
    margin: 25px;
    max-width: 3000px;
    display: flex;
    justify-content: center;
}

header {
    background-color: cornflowerblue;
    padding: 10px;
}

.hero {
    background-color: red;
    padding: 10px;
}

.content {
    background-color: green;
    padding: 10px;
}

.sidebar {
    background-color: blueviolet;
    padding: 10px;
}

footer {
    background-color: gray;
    padding: 10px;

}

p {
    margin-top: 15px;
    margin-bottom: 10px;
}

@media screen and (min-width: 600px) {
    .container {
        display: flex;
        margin-top: 0;
    }

    .sidebar {
        min-width: 300px;
        margin-left: 5px;
    }
}

@media screen and (min-width: 1100px) {

    html {
        max-width: 2000px;
    }

    .container {
        max-width: 1500px;
        
        margin-left: 7%;
    }

    
}